# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# Monorepo builds and deps
**/dist
**/node_modules

# Next.js
**/.next
**/out

# Tooling
.turbo
*.tsbuildinfo

# IDE
.project

# temp directory
.temp
.tmp
